# Se hospedar sua aplicação em algum lugar
# coloque o host aqui:

APP_URL=http://localhost:8080

# Pegue esses dados no site S3 AWS

BUCKET_NAME=
AWS_PRODUCT_IMG_FOLDER=
AWS_USER_IMG_FOLDER=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
